#mainContent.flex-box
	#cardBookChannel(c-widget="cardBook")
		#viewHome.item(c-widget="subView")
		#viewSearch.item(c-widget="subView")
		#viewMy.item(c-widget="subView")
		#viewCart.item(c-widget="subView")
		#viewSetting.item(c-widget="subView")
.box
	#menuChannel(c-widget="menu; class:five item attached orange labeled icon secondary pointing borderless")
		a.state(c-widget="icon:home", href="home")
			span(c-bind="=resource('home')")
		a.state(c-widget="icon:search", href="search")
			span(c-bind="=resource('search')")
		a.state(c-widget="icon:user", href="my")
			span(c-bind="=resource('my')")
			#messageCount.ui.circular.label.badge(style="display:none; position:absolute; top:-7px; left:65%;")
		a.state(c-widget="icon:cart", href="cart")
			span(c-bind="=resource('cart')")
			#cartItemCount.ui.circular.label.badge(style="display:none; position:absolute; top:-7px; left:65%;")
		a.state(c-widget="icon:setting", href="setting")
			span(c-bind="=resource('setting')")
			#systemNotificaition.ui.circular.label.badge.hidden.notext(style="position:absolute; top:-7px; left:65%;")